@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


.wrapper{

    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    /*background: #fff;*/
    margin: 50px auto;
    /*box-shadow: 2px 2px 4px rgba(0,0,0,0.125);*/
    padding: 100px;
    margin-top: 0px;
    position: center;
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    /*margin-bottom: 25px;*/
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form{
    width: 100%;
    padding: 10px;
    text-align: center;
}

.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 3px solid #c59d5f;
    outline: none;
    resize: none;
}

/*.wrapper .form .inputfield label{*/
/*    width: 200px;*/
/*    color: #757575;*/
/*    margin-right: 10px;*/
/*    font-size: 14px;*/
/*}*/

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
    width: 100%;
    outline: none;
    /*border: 1px solid grey;*/
    font-size: 15px;
    padding: 8px 10px;
    /*border-radius: 30px;*/
    /*transition: all 0.3s ease;*/
}
.content .form .inputfield span{
    position: absolute;
    text-align: center;
    padding: 8px 10px;
    font-size: 15px;
    transition: 5s;
    color: #666;
}
.content .form .inputfield input :focus ~ span,
 .content .form .inputfield input :valid ~ span{
    color: #837d7f;
    font-size: 12px;
    transform: translateY(-20px) ;
}

.wrapper .form .inputfield .textarea{
    width: 100%;
    height: 150px;
    resize: none;
}

.wrapper .form .inputfield .custom_select{
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    -moz-appearance:   none;
    appearance:        none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
    border: 1px solid #c59d5f;
}

.wrapper .form .inputfield p{
    font-size: 14px;
    color: #757575;
}


.wrapper .form .inputfield .btn{
    width: 100%;
    padding: 15px 20px;
    font-size: 15px;
    border: 0px;
    background:  black;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .inputfield .btn:hover{
    background: gray;
}

.wrapper .form .inputfield:last-child{
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .inputfield label{
        margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
        flex-direction: row;
    }
}
#custom-btn{
    margin-top: 15px;
    display: block;
    width: 100%;
    position: center;
    height: 35px;
    border: none;
    outline: none;
    /*border-radius: 25px;*/
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
    cursor: pointer;
    background: #0c0700;
}